/* app css stylesheet */

body {
    width: 30%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    background: #fff;
    /*#3a4145;*/
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.card {
    font-size: 36px;
    color: #ffffff;
    text-shadow: 1px 1px #888;
    text-align: center;
}


.card > hr {
    color: #4777AF;
    border-top: 1px solid #4777AF;
}

.blue-box {
    height: 200px;
    padding: 30px 30px;
    border: 1px solid #4777AF;
    background: #6797CF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #87B7FF;
}

.gray-box {
    height: 200px;
    padding: 30px 30px;
    border: 1px solid #d8d8d8;
    background: #f9f9f9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
}

.vspace10 {
    margin-top: 10px;
}

.vspace30 {
    margin-top: 30px;
}

.main-content {
    margin: 50px 10px;
}

.chevron {
    margin-left: 20px;
    margin-right: 20px;
    color: #ccc;
    font-size: 20px;
    text-shadow: 0px 0px;
}

.buttons {
    height: 55px;
}

/*.constant-width {*/
    /*overflow: hidden;*/
    /*width: 100px;*/
/*}*/

.fixed-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.alert-box-with-button {
    height: 100px;
    vertical-align: middle;
}

div.alert-warning {
    position: relative;
}

div.alert-warning p.pull-left {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.table-with-button {
    height: 35px;
}

.button-container {
    height: 50px;
}