<!--<h3>Edit flash cards</h3>-->


<!-- CREATE/EDIT CARD PANEL -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-if="isInEditMode()">Edit card</span>
            <span ng-if="!isInEditMode()">Add new card</span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <input type="text" class="form-control" ng-model="card.front">
        </div>

        <br>

        <div class="input-group">
            <span class="input-group-addon">ES</span>
            <input type="text" class="form-control" ng-model="card.back">
        </div>

        <!--<br>-->
    </div>

    <div class="panel-footer buttons">
        <!--Fuck-->
        <!--<button class="btn btn-default">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>-->
        <!--</button>-->
        <div class="pull-right">
            <button class="btn btn-default"
                    ng-if="isEditing(card)"
                    ng-click="cancelEdit()">
                <span class="glyphicon glyphicon-ban-circle"></span>
            </button>
            <button class="btn btn-success"
                    ng-if="isEditing(card)"
                    ng-disabled="!formHasValidInput()"
                    ng-click="updateCard(card)">
                <span class="glyphicon glyphicon-save"></span>
            </button>
            <button class="btn btn-primary"
                    ng-if="!isEditing(card)"
                    ng-disabled="!formHasValidInput()"
                    ng-click="addCard(card)">
                <span class="glyphicon glyphicon-save"></span>
            </button>
        </div>

    </div>
</div>


<!-- UNDO DELETE ALERT -->
<div ng-if="hasDeletedCard()" class="alert alert-warning" style="overflow:hidden" role="alert">
    <p class="pull-left">
        <span class="glyphicon glyphicon-trash"></span>
        {{ getLastDeletedCard().front }} | {{ getLastDeletedCard().back }}
    </p>
    <button ng-click="undoDelete()" class="btn btn-default btn-sm pull-right">Undo</button>
</div>


<!-- FILTER INPUT -->
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input ng-model="searchTerm" type="text" class="form-control">
</div>

<div class="vspace10"></div>

<!-- TABLE OF CARDS -->
<table class="table table-striped table-bordered table-condensed table-hover fixed-table">
    <thead>
    <th>EN</th>
    <th>ES</th>
    </thead>
    <tbody>
    <tr ng-repeat="card in getAllCards() track by card.id | filter:searchTerm"
        ng-class="{ success: isRecentlyAdded(card), info: isEditing(card) }"
        class="table-with-button"
        ng-click="editCard(card)">
        <td>{{ card.front }}</td>
        <td>{{ card.back }}
            <button ng-click="deleteCard(card)"
                    class="btn btn-sm btn-danger pull-right"
                    style="display:none" show-on-hover>
                <span class="glyphicon glyphicon-trash pull-right"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
