<!--<h3>Edit flash cards</h3>-->


<!-- CREATE/EDIT CARD PANEL -->
<div class="panel panel-default">
    <div class="panel-heading buttons">
        <h1 class="panel-title">
            <span ng-if="isInEditMode()" class="glyphicon glyphicon-pencil"></span>
            <span ng-if="!isInEditMode()" class="glyphicon glyphicon-plus"></span>
            <button ng-if="!isInEditMode()" class="btn btn-default pull-right"
                    data-toggle="modal" data-target="#importCardModal">
                <span class="glyphicon glyphicon-import"></span>
            </button>
        </h1>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <input type="text" class="form-control" ng-model="card.front">
        </div>

        <br>

        <div class="input-group">
            <span class="input-group-addon">ES</span>
            <input type="text" class="form-control" ng-model="card.back">
        </div>
    </div>

    <div class="panel-footer buttons">
        <!--<button class="btn btn-default">-->
        <!--<span class="glyphicon glyphicon-ban-circle"></span>-->
        <!--</button>-->
        <div class="pull-right">
            <button class="btn btn-default"
                    ng-if="isEditing(card)"
                    ng-click="cancelEdit()">
                <span class="glyphicon glyphicon-ban-circle"></span>
            </button>
            <!--<button class="btn btn-success"-->
            <!--ng-if="isEditing(card)"-->
            <!--ng-disabled="!formHasValidInput()"-->
            <!--ng-click="updateCard(card)">-->
            <!--<span class="glyphicon glyphicon-save"></span>-->
            <!--</button>-->
            <button class="btn btn-primary"
                    ng-disabled="!formHasValidInput() || exists(card)"
                    ng-click="saveCard(card)">
                <span class="glyphicon glyphicon-save"></span>
            </button>
        </div>

    </div>
</div>


<!-- UNDO DELETE ALERT -->
<div ng-if="hasDeletedCard()" class="alert alert-warning" style="overflow:hidden" role="alert">
    <p class="pull-left">
        <span class="glyphicon glyphicon-trash"></span>
        {{ getLastDeletedCard().front }} | {{ getLastDeletedCard().back }}
    </p>
    <button ng-click="undoDelete()" class="btn btn-default btn-sm pull-right">Undo</button>
</div>

<!-- DUPLICATE CARD ERROR MESSAGE -->
<div ng-if="exists(card)" class="alert alert-danger" style="overflow:hidden" role="alert">
    <span class="glyphicon glyphicon-ban-circle"></span> Card already exists: {{ card.front }} | {{ card.back }}
</div>

<!-- FILTER INPUT -->
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input ng-model="search.id" type="text" class="form-control">
</div>

<div class="vspace10"></div>

<!-- TABLE OF CARDS -->
<table class="table table-striped table-bordered table-condensed table-hover fixed-table">
    <thead>
    <th>EN</th>
    <th>ES<span class="badge pull-right">{{ getAllCards().length }}</span></th>
    </thead>
    <tbody>
    <tr ng-repeat="card in getAllCards() | filter:search track by card.id | orderBy:card.back""
        ng-class="{ success: isRecentlyAdded(card), info: isEditing(card) }"
        class="table-with-button"
        ng-click="editCard(card)">
        <td>
            <span ng-if="isImported(card)" class="glyphicon glyphicon-import"></span>
            {{ card.front }}
        </td>
        <td>{{ card.back }}
            <button ng-click="deleteCard(card)"
                    class="btn btn-sm btn-danger pull-right"
                    style="display:none" show-on-hover>
                <span class="glyphicon glyphicon-trash pull-right"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>


<!-- MODAL -->
<div class="modal fade" id="importCardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Import cards</h4>
            </div>
            <div class="modal-body">
                Paste cards here, using this format:
                <div class="well">
                    <ul class="import-examples">
                        <li>ser | to be</li>
                        <li>hacer | to do</li>
                    </ul>
                </div>
                <textarea ng-model="pastedCards" class="form-control" rows="10" placeholder="Paste cards here..."></textarea>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button ng-click="importCards(pastedCards)" type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-import"></span>
                </button>
            </div>
        </div>
    </div>
</div>