<div class="form-group">
    <textarea class="form-control" placeholder="Paste here..."></textarea>
</div>

<div>
    <!--<ul class="nav nav-pills nav-stacked">-->
    <!--<li class="active"><a href="#">Import new cards</a></li>-->
    <!--<li><a href="#">Save state</a></li>-->
    <!--<li><a href="#">Load state</a></li>-->
    <!--</ul>-->

    <button class="btn btn-default" ng-click="click()">
        <span class="glyphicon glyphicon-import"></span> Import new cards
    </button>
    <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-save"></span> Export state</button>
    <button class="btn btn-danger"><span class="glyphicon glyphicon-floppy-open"></span> Import state</button>
</div>
