<!--MAIN CARD SCREEN-->
<div ng-if="isSessionStarted() && !isSessionFinished()">


    <!--CARD-->
    <!--<button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></button>-->
    <div class="card blue-box" ng-click="revealAnswer()">
        <p ng-class="{ 'smaller-card-text': getCurrentCard().front.length > 20 }">
            {{ getCurrentCard().front }}
        </p>
        <hr>
        <div ng-switch="answerIsRevealed()">

            <p ng-switch-when="true" ng-class="{ 'smaller-card-text': getCurrentCard().back.length > 20 }">
                {{ getCurrentCard().back }}
            </p>

            <p ng-switch-default><span class="glyphicon glyphicon-chevron-down chevron"></span></p>
        </div>
    </div>

    <!--SUCCESS/FAIL BUTTONS-->
    <div class="text-center buttons vspace10">
        <div ng-if="answerIsRevealed()">
            <span class="glyphicon glyphicon-chevron-left chevron"></span>

            <button class="btn btn-warning btn-lg" ng-click="fail()">
                <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>
            <button class="btn btn-success btn-lg" ng-click="success()">
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>


            <span class="glyphicon glyphicon-chevron-right chevron"></span>
        </div>
        <div ng-if="!answerIsRevealed()">
            <button class="btn btn-default btn-lg" disabled>
                <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>
            <button class="btn btn-default btn-lg" disabled>
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
        </div>
    </div>

    <!--PROGRESS BAR-->
    <div class="progress vspace30">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="{{ currentProgress() }}" aria-valuemin="0" aria-valuemax="100"
             style="width: {{ currentProgress() }}%;">
        </div>
    </div>

    <div class="alert alert-info">
        <ul>
            <!--<li>{{ getCurrentCard().front }} | {{ getCurrentCard().back }}</li>-->
            <li><strong>Origin: {{ getCurrentCard().origin }}</strong></li>
            <li><strong>Winstreak: {{ getCurrentCard().winstreak }}</strong></li>
            <li>Times answered: {{ getCurrentCard().timesAnswered }}</li>
            <li>Times answered correctly: {{ getCurrentCard().timesAnsweredCorrectly }}</li>
            <!--<li>Last visited: {{ getCurrentCard().lastVisitedTime }}</li>-->
        </ul>

    </div>
    <button class="btn btn-default pull-right" ng-click="terminateSession()">
        <span class="glyphicon glyphicon-stop"></span> End session
    </button>

</div>

<!--SESSION WELCOME-->
<div ng-if="!isSessionStarted()">
    <button ng-click="startSession()" class="btn btn-link btn-lg center-block">
        <span class="glyphicon glyphicon-play-circle giga"></span>
    </button>
</div>


<!--SESSION FINAL REPORT-->
<div ng-if="isSessionFinished()">
    <!--<div class="alert alert-success">-->
    <!--<strong>Well done!</strong>-->
    <!--</div>-->

    <table class="table table-striped table-condensed table-hover">
        <tr ng-repeat="card in getCompletedCards() track by card.id">
            <td>{{ card.front }}</td>
            <td>{{ card.back }}</td>
            <td>
                <span ng-if="practiceIsCompleted(card)" class="glyphicon glyphicon-star"
                      data-toggle="tooltip" data-placement="left"
                      title="You have finished practicing this card for now."></span>
                <span ng-if="isTroublesome(card)" class="glyphicon glyphicon-warning-sign"
                      data-toggle="tooltip" data-placement="left"
                      title="You are having trouble with this card."></span>
            </td>
        </tr>
    </table>

    <button ng-click="restart()" class="btn btn-success btn-lg pull-right">
        <span class="glyphicon glyphicon-ok"></span>
    </button>


</div>

